.drop-render {
  display: flex;
  width: 30%;
  height: 60%;
  min-height: 2vw;
  align-items: center;
  justify-content: center;
  margin-left: 1vw;
}

.dropdown {
  position: relative;
  width: 90%;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: #333;
  cursor: default;
}

.control {
  width: 100%;
  height: 100%;
}

.dropdown a {
  text-decoration: none;
  font-size: 1.4rem;
}

.dropdown .arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: " ";
  display: block;
  height: 0;
  margin-top: 0.3rem;
  position: absolute;
  right: 25px;
  top: 21px;
  width: 0;
}

.dropdown .arrow.open {
  border-color: transparent transparent #999;
  border-width: 0 5px 5px;
}

.dropdown .selected-value {
  display: flex;
  align-items: center;
  background-color: $mid-emphasis-text;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  cursor: default;
  outline: none;
  width: 100%;
  height: 100%;
  padding-left: 5%;
  transition: all 200ms ease;

  &:hover {
    background-color: whitesmoke;
  }
}

.dropdown .options {
  display: none;
  background-color: $mid-emphasis-text;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 350px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;

  &:focus {
    background-color: whitesmoke;
  }
}

.dropdown .options.open {
  display: block;
}

.dropdown .option {
  box-sizing: border-box;
  color: rgba(51, 51, 51, 0.8);
  cursor: pointer;
  display: block;
  padding: 8px 10px;
}

.dropdown .option:hover {
  background-color: whitesmoke;
  color: #333;
}

.dropdown .option.selected {
  background-color: $max-blue-green;
  color: #333;
}

/*~~~~~~ Responsive ~~~~~~ */

@media screen and (max-width: 1500px) {
  .dropdown .selected-value {
    font-size: 1.5rem;
  }

  .dropdown .arrow {
    top: 15px;
  }
}

@media screen and (max-width: 1300px) {
  .drop-render {
    width: 40%;
  }

  .dropdown .selected-value {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 1025px) {

  .dropdown .selected-value {
    font-size: 0.9rem;
  }

  .dropdown a {
    font-size: 1.2rem;
  }

  .dropdown .arrow {
    top: 15px;
    right: 15px;
  }
}

@media screen and (max-width: 769px) {
  .drop-render {
    width: 40%;
  }

  .dropdown .selected-value {
    font-size: 0.9rem;
  }

  .dropdown a {
    font-size: 0.9rem;
  }

  .dropdown .arrow {
    top: 6px;
    right: 10px;
  }
}

@media screen and (max-width: 651px) {
  .dropdown .selected-value {
    max-width: 20em;
  }

  .dropdown a {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 426px) {
  .drop-render {
    width: 45%;
  }

  .dropdown a {
    font-size: 0.8rem;
  }

  .dropdown .selected-value {
    font-size: 0.6rem;
  }

  .dropdown .arrow {
    top: 5px;
    right: 10px;
  }
}

@media screen and (max-width: 376px) {

  .dropdown .selected-value {
    font-size: 0.5rem;
  }

  .dropdown a {
    font-size: 0.7rem;
  }

  .dropdown .arrow {
    top: 5px;
    right: 8px;
  }
}

@media screen and (max-width: 321px) {
  .dropdown .selected-value {
    font-size: 0.5rem;
  }

  .dropdown a {
    font-size: 0.7rem;
  }

  .dropdown .arrow {
    top: 1px;
    right: 8px;
  }
}