form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 7vw;
  margin: 1vw;
  color: whitesmoke;
  background-color: $opaque-blue;
  box-shadow: $shadow-heavy;

  select, input {
    margin-left: 1vw;
  }
}


