form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 7vw;
  margin-bottom: 3vw;
  color: whitesmoke;
  background-color: $opaque-blue-light;
  box-shadow: $shadow-heavy;
  font-family: $inconsolata;

  select, input {
    font-family: $inconsolata;
    margin-left: 1vw;
  }
}

.form-box {
  justify-content: space-between;
}

.welcome-message {
  flex-direction: row;
  justify-content: center;
  font-family: AlienEncounters;
}

.welcome-text {
  margin-bottom: 2vw;
  text-align: center;
  font-family: $staatliches;
  font-style: italic;
  font-size: 2.5vw;
  font-weight: 300;
  color: $max-blue-green;
}

.location-name {
  margin-bottom: 2vw;
  text-align: center;
  font-family: AlienEncounters;
  font-style: italic;
  font-size: 4vw;
  font-weight: 500;
  color: $max-blue-green;
}

@media screen and (max-width: 688px) {

  .welcome-text {
    margin-top: 5vw;
  }
}

@media screen and (max-width: 651px) {

  .welcome-text {
    margin-top: 12vw;
  }

  form {
    height: 15vw;
    margin-bottom: 1vw;

    select,
    input {
      max-height: 5vw;
      margin-left: 1vw;
    }
  }
}

@media screen and (max-width: 320px) {
.welcome-text,
.location-name {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

  }
  .welcome-text {
    margin-top: 5vw;
  }
}

