.top-tracks-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  height: auto;
  padding: 2vw 2% 1vw 2%;
  margin-bottom: 5vw;
  font-size: 1.5vw;
  color: whitesmoke;
  background-color: $opaque-blue-dark;
  border: 1px solid $blue-jeans;

  h3 {
    font-family: AlienEncounters;
    font-style: italic;
    line-height: 2;
    font-size: 2.3em;
    font-weight: 500;
    color: $fashion-fuscia;
    margin: 3%;
  }
}

.tracks-list {
  margin: 2vw 2vw 4vw 2vw;
  font-weight: 600;
  font-family: $inconsolata;
  line-height: 2;

  ol {
    padding-left: 10%;
  }
}

.top-track {
  margin-bottom: 2vw;
}

.top-track span {
  font-size: 1.7vw;
}

.top-track a {
    list-style-type: none;
    display: inline;
    color: $mid-emphasis-text;
    font-style: italic;
    font-size: 1.9vw;
    text-decoration: none;

    &:hover {
      color: $blue-jeans;
    }
}

@media screen and (max-width: 816px) {
  .top-tracks-box {
    margin: 1.5vw 0 2vw 0;
    padding-bottom: 4vw;
  }

  .top-tracks-box h3 {
    margin-top: 0.35em;
    font-size: 2.5em;
  }

  .tracks-list {
    margin-top: 4vw;
  }
}

@media screen and (max-width: 651px) {
  .top-track span, li {
    font-size: 4vw;
  }

  .top-track a {
    font-size: 4.5vw;
  }

  .top-tracks-box {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 85%;
    margin-top: 8vw;
  }
  
  .top-tracks-box h3 {
    align-self: center;
    justify-content: center;
    margin-top: 4vw;
    font-size: 3.5em;
  }
}

@media screen and (max-width: 376px) {
  li {
    font-size: 3.2vw;
  }

  .top-tracks-box {
    width: 85%;
    margin-top: 5vw;
  }

  .top-tracks-box h3 {
    font-size: 5.2vw;
    margin: 4vw auto 2vw auto;
  }
}

@media screen and (max-width: 321px) {
  .top-tracks-box h3 {
    font-size: 6.2vw;
  }
}