.top-tracks-box {
  display: flex;
  flex-direction: column;
  padding: 2vw 2vw 1vw 4vw;
  width: 35%;
  height: auto;
  font-size: 1.5vw;
  color: whitesmoke;
  background-color: $opaque-blue-dark;
  border: 1px solid $blue-jeans;
  margin-bottom: 5vw;

  h3 {
    margin-top: 1vw;
    align-self: flex-start;
    font-family: AlienEncounters;
    font-style: italic;
    line-height: 2;
    font-size: 3.1vw;
    font-weight: 500;
    color: $fashion-fuscia;
  }
}

.tracks-list {
  margin: 2vw 2vw 4vw 2vw;
  font-weight: 600;
  font-family: $inconsolata;
  line-height: 2;
}

.top-track {
  margin-bottom: 2vw;
}

.top-track span {
  font-size: 1.7vw;
}

.top-track a {
    list-style-type: none;
    display: inline;
    color: $mid-emphasis-text;
    font-style: italic;
    font-size: 1.9vw;
    text-decoration: none;

    &:hover {
      color: $blue-jeans;
    }
}

@media screen and (max-width: 651px) {

  .top-track span, li {
    font-size: 4vw;
  }

  .top-track a {
    font-size: 4.5vw;
  }

  .top-tracks-box {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 85%;
    margin-top: 4vw;
  }
  
  .top-tracks-box h3 {
    align-self: center;
    justify-content: center;
    margin-top: 1vw;
    font-size: 5.2vw;
  }
}

@media screen and (max-width: 376px) {
  
  li {
    font-size: 3.2vw;
  }

  .top-tracks-box {
    display: flex;
    width: 85%;
    margin-top: 5vw;
  }

  .top-tracks-box h3 {
    font-size: 5.2vw;
    margin: 4vw auto 2vw auto;
  }

}
