// COLORS

// dark
$rich-black: #0A0A0A;
$eerie-black: #212224;
$gunmetal: #223B44;
$charcoal: #37515F;
$oxford-blue: #0C102B;
$yale-blue: #004782;
$persian-indigo: #3B1275;
$dark-sienna: #2F0F12;
$xiketic: #1F0812;
$opaque-blue: rgba(19, 99, 142, 0.188);

// light
$mid-emphasis-text: rgba(255, 255, 255, 0.75);
$beau-blue: #D6EDFF;
$cream: #FFFFC7;

// bright
$titanium-yellow: #F5E729;
$icerine: #FFFA5C;
$green-yellow-crayola: #FDF597;
$rajah: #F6AF65;
$orange-pantone: #F85E0D;
$red-munsell: #F21B3F;
$fashion-fuscia: #F3079B;
$shocking-pink: #ED33B9;
$heliotrope: #D477FF;
$blue-jeans: #2daff5d3;
$green-blue-crayola: #2388D2;
$max-blue-green: #08BDBD;
$emerald: #45CB85;
$kelly-green: #29BF12;
$french-lime: #ABFF4F;
$green-lizzard: #B3F22B;

// BOX SHADOW

$shadow-heavy: inset 0 -3em 3em rgba(0, 0, 0, 0),
0.3em 0.3em 0.3em 0.1em rgba(0, 0, 0, 0.2),
0.5em 0.5em 0.5em 0.2em rgba(0, 0, 0, 0.2);


// FONTS

$inconsolata: 'Inconsolata', monospace;
$staatliches: 'Staatliches', cursive;

@font-face {
  font-family: 'AlienEncounters';
  src: url('../assets/fonts/AlienEncounters/SFAlienEncounters.ttf') format('truetype'),
    url('../assets/fonts/AlienEncounters/SFAlienEncountersSolid.ttf') format('truetype'),
    url('../assets/fonts/AlienEncounters/SFAlienEncountersSolid-Ital.ttf') format('truetype'),
    url('../assets/fonts/AlienEncounters/SFAlienEncounters-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'VCR-Mono';
  src: url('../assets/fonts/VCR_OSD_MONO_1.001.ttf') format('truetype'),
}

@font-face {
  font-family: 'Lazer84';
  src: url('../assets/fonts/Lazer84.ttf') format('truetype'),
}

// EFFECTS

.glow {
  &:hover {
    animation: glow 1.5s ease-in-out infinite alternate;
  }

  @keyframes glow {
    from {
      text-shadow: 0 0 10px $beau-blue,
        0 0 20px $beau-blue,
        0 0 30px $beau-blue,
        0 0 40px $blue-jeans,
        0 0 70px $blue-jeans,
        0 0 80px $blue-jeans,
        0 0 100px $rajah,
        0 0 150px $rajah;
    }

    to {
      text-shadow: 0 0 5px $beau-blue,
        0 0 10px $beau-blue,
        0 0 15px $beau-blue,
        0 0 20px $blue-jeans,
        0 0 35px $blue-jeans,
        0 0 40px $blue-jeans,
        0 0 50px $rajah,
        0 0 75px $rajah;
    }
  }
}

.fade-in {
  
  animation: fadebackground 1.5s;

  @keyframes fadebackground {
    from {background-color: $red-munsell;}
    to {background-color: $rich-black;}
  }
}