* {
  margin: 0;
  padding: 0;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

html {
  height: 100%;
}

.main-section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  border: 2px dotted orange;
  margin: 2px;
}

.nation-display {
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
}