.artist-info {
  display: grid;
  grid-template-rows: 20% 90%;
  width: 90%;
  height: auto;
  max-height: 200vh;
  color: whitesmoke;
  background-color: rgba(3, 5, 16, 0.784);
  border: 1px solid $french-lime;
}

.artist-img-box {
  display: flex;
  width: 53%;
  height: 90%;
  margin-top: 5%;
  margin-bottom: 5%;
  justify-self: center;
  justify-content: center;
  align-items: center;
  color: $green-blue-crayola;
  font-size: 1vw;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 0.2vw 0.2vw rgba(176, 165, 244, 0.832);

  img {
    width: 100%;
    height: 100%;
  }
}

.artist-name {
  font-size: 4.5vw;
  font-family: AlienEncounters;
  font-style: italic;
  text-decoration: none;
  text-shadow: 3px 2px $eerie-black;
  color: $fashion-fuscia;
}

.artist-text-box {
  justify-self: center;
  justify-content: center;
  text-align: center;
  width: 85%;
  height: 75%;
  max-height: 120vw;
  margin-top: 7%;
  padding: 2% 3% 2% 3%;
  overflow: scroll;
  overscroll-behavior: contain;
  display: block;
  border: 1px solid $red-munsell;
  background-color: rgba(6, 11, 38, 0.845);

  p {
    color: $mid-emphasis-text;
    font-size: 1.5vw;
    margin: 3vw 2vw 4vw 2vw;
    font-family: $inconsolata;
    line-height: 2;
  }
}

.artist-url {
  font-size: 2vw;
  color: $green-blue-crayola;
}

.artist-bio-title {
  margin-top: 2vw;
  font-family: $staatliches;
  font-size: 2.5vw;
  color: $blue-jeans;
}

@media screen and (max-width: 1025px) {

  .artist-info {
    max-height: 75vh;
    grid-template-rows: 20% 70%;
  }

  .artist-img-box {
    display: flex;
    width: 53%;
    height: 90%;
  }

  .artist-text-box {
    height: 90%;
  }
}

@media screen and (max-width: 770px) {

  .artist-img-box {
    display: flex;
    width: 53%;
    height: 70%;
  }

  .artist-text-box {
    margin-top: 1.5em;
    height: 95%;
  }
}

@media screen and (max-width: 426px) {

  .artist-info {
    margin-top: 5%;
    width: 85%;
    height: 93%;
  }

  .artist-img-box {
    margin-top: 5.5em;
    width: 60%;
    height: 80%;
  }

  .artist-text-box {
    height: 100%;
    margin: 7% auto 3% auto;
  }
}

@media screen and (max-width: 376px) {

  .artist-info {
    margin-top: 5%;
    grid-template-rows: 15% 75%;
    width: 85%;
  }

  .artist-img-box {
    width: 60%;
  }

  .artist-text-box {
    margin: 1.5em auto 8em auto;
  }
}

@media screen and (max-width: 321px) {

  .artist-info {
    margin-top: 5%;
    grid-template-rows: 15% 80%;
    width: 85%;
    height: 100%;
    max-height: 80vh;
  }

  .artist-img-box {
    margin-top: 10%;
    width: 70%;
    height: 90%;
  }

  .artist-text-box {
    margin: 3em auto 10em auto;
    padding-bottom: 5em;
    width: 80%;

    p {
      font-size: 2.5vw;
      margin: 3vw 2vw 2vw 2vw;
      font-family: $inconsolata;
      line-height: 2;
    }
  }
}