.artist-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vw 2vw 2vw 4vw;
  width: 80%;
  height: auto;
  color: whitesmoke;
  background-color: rgba(3, 5, 16, 0.784);
  border: 1px solid $blue-jeans;
}

.artist-img-box {
  width: 40%;
  height: 20%;
  text-align: center;
  border: 1px solid $french-lime;
  padding: 3%;
  margin-top: 2vw;
  font-size: 1vw;
}

.artist-text-box {
  justify-content: center;
  text-align: center;
  width: 60%;
  height: 40%;
  margin-top: 4vw;
  padding: 3vw;
  border: 1px solid $red-munsell;

  h3 {
    margin: 2.5vw auto 4vw auto;
    justify-self: center;
    font-size: 2.5vw;
    font-family: AlienEncounters;
    font-style: italic;
    color: $fashion-fuscia;
  }

  p {
    font-size: 1.5vw;
    margin: 2vw;
  }
}