.search-bar-box {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 60%;
}

.search-input {
  height: 2vw;
  width: 4vw;
  font-size: 1vw;
  font-weight: 700;
}

.search-btn {
  // font-size: 1.3rem;

  position: relative;
  max-width: 50%;
  max-height: 90%;
  z-index: 0;
  font-family: Lazer84;
  color: $yale-blue;
}

.search-input {
  height: 3.5vw;
  width: 60%;
  border-radius: 10px;
  font-size: 1.5vw;
  font-weight: 700;
  font-family: $inconsolata;
  padding-left: 1vw;
  background-color: $mid-emphasis-text;

  &:focus {
    background-color: whitesmoke;
  }
}

.search-btn {
  height: 4vw;
  width: 10vw;
  margin: 0 0 0 3vw;
  background-color: $blue-jeans;
  border-radius: 7px;
  font-size: 1.75vw;
  font-weight: 600;
  font-family: $inconsolata;
}

/*~~~~~~ SEARCH BUTTON EFFECTS ~~~~~~ */

.search-btn:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;

}

.search-btn:active {
  color: #890A1A;
}

.search-btn:active:after {
  background: transparent;
}

.search-btn:hover:before {
  opacity: 1;
}

.search-btn:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/*~~~~~~ Responsive ~~~~~~ */

@media screen and (max-width: 651px) {
  .search-bar-box {
    margin-right: 3vw;
    width: 100%;
    height: 100%;
  }

  .search-input {
    margin: 0 0 0.5vw 0;
    height: 45%;
    width: 70%;
    font-size: 2.5vw;
  }

  .search-btn {
    height: 50%;
    width: 30%;
  }
}
