.search-bar-box {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 60%;
  padding: 1em;
}

.search-input {
  height: 95%;
  width: 60%;
  border-radius: 3px;
  font-size: 1.3vw;
  font-weight: 700;
  padding-left: 5%;
  padding-top: 0.3vw;
  background-color: $mid-emphasis-text;

  &:focus {
    background-color: whitesmoke;
  }
}

.search-btn {
  position: relative;
  z-index: 0;
  height: 100%;
  min-height: 2em;
  width: 40%;
  margin-top: 0.2em;
  margin-left: 2vw;
  background-color: $blue-jeans;
  border-radius: 7px;
  font-size: 1.75vw;
  font-weight: 600;
  font-family: $staatliches;
  letter-spacing: 0.5vw;
  color: $blue-jeans;
}

/*~~~~~~ SEARCH BUTTON EFFECTS ~~~~~~ */

.search-btn:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;

}

.search-btn:active {
  color: #890A1A;
}

.search-btn:active:after {
  background: transparent;
}

.search-btn:hover:before {
  opacity: 1;
}

.search-btn:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

/*~~~~~~ Responsive ~~~~~~ */

@media screen and (max-width: 769px) {
  .search-input {
    font-size: 0.75em;
  }

  .search-btn {
    margin-top: 0.2em;
  }
}

@media screen and (max-width: 651px) {
  .search-input {
    font-size: 0.5em;
  }
}

@media screen and (max-width: 426px) {

}

@media screen and (max-width: 376px) {

}

@media screen and (max-width: 321px) {

}