header {
  display: grid;
  grid-template-rows: 60% 30%;
  align-items: center;
  background-color: $rich-black;
  height: 16vw;
  border-bottom: 6px solid $blue-jeans;
  margin-bottom: 3vw;

  h1 {
    justify-self: center;
    margin-top: 4vw;
    font-size: 6vw;
    font-family: AlienEncounters;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 1.8vw;
    color: $opaque-red;
  }
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 0;
  width: 99%;
}

.go-home,
.random-location {
    width: 13vw;
    height: 4vw;
    margin: 2vw 3vw 1vw 3vw;
    font-family: $staatliches;
    font-size: 1.3vw;
    letter-spacing: 0.5vw;
    border: 1px solid #ed33b86c;
    color: $max-blue-green;
    background-color: rgba(12, 22, 48, 0.51);

    &:hover {
      border: 1px solid $max-blue-green;
      color: $mid-emphasis-text;
      background-color: $opaque-blue-light;
    }
  }

  /*~~~~~~ Responsive ~~~~~~ */

  @media screen and (max-width: 1025px) {
    header {
      height: 18vw;
      grid-gap: 15px;
    }

    .random-location,
    .go-home {
      font-size: 1.5vw;
      width: 15vw;
      height: 5vw;
      margin-top: 0;
      margin-bottom: 1vw;
    }

  }

  @media screen and (max-width: 765px) {
    
    header {
      height: 27vw;
    }

    .random-location,
    .go-home {
      font-size: 2vw;
      margin: 1vw 4vw 1vw 4vw;
      width: 23vw;
      height: 5.5vw;
    }

    .glow {
      margin-bottom: 1vw;
    }

  }

  @media screen and (max-width: 376px) {
    header {
      height: 34vw;
    }

    header h1 {
      margin-top: 12vw;
    }

    .random-location,
    .go-home {
      font-size: 1.9vw;
      font-weight: bold;
      margin: 1vw 4vw 6vw 4vw;
      padding: 1%;
      width: 22vw;
      height: 7vw;
      border: 1px solid $inconsolata;
    }
  }
