header {
  display: grid;
  grid-template-rows: 60% 30%;
  align-items: center;
  background-color: $rich-black;
  height: 16vw;
  border-bottom: 6px solid $blue-jeans;
  margin-bottom: 5%;
}

h1 {
  justify-self: center;
  align-self: flex-end;
  font-size: 7vw;
  font-family: AlienEncounters;
  font-style: italic;
  color: hsla(350, 89%, 53%, 0.797);
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 0;
  width: 99%;
}

.go-home,
.random-location {
    width: 15vw;
    height: 3vw;
    margin: 2vw 3vw 0 3vw;
    font-family: $inconsolata;
    font-size: 1.2vw;
    border: 1px solid #ed33b86c;
    color: $green-lizzard;
    background-color: rgba(12, 22, 48, 0.51);

    &:hover {
      border: 1px solid $icerine;
      color: $mid-emphasis-text;
      background-color: $opaque-blue;
    }
  }

  /*~~~~~~ Responsive ~~~~~~ */

  @media screen and (max-width: 1443px) {
    .header {
      grid-gap: 20px;
    }

    .random-location,
    .go-home {
      font-size: 2.4vw;
    }

  }

  @media screen and (max-width: 1011px) {
    .header {
      grid-gap: 15px;
    }

    .random-location,
    .go-home {
      font-size: 2.2vw;
    }

  }

  @media screen and (max-width: 765px) {

    .random-location,
    .go-home {
      font-size: 3vw;
      margin: 1vw 4vw 1vw 4vw;
      width: 23vw;
      height: 5.5vw;
    }

    .glow {
      margin-bottom: 1vw;
    }

  }

  @media screen and (max-width: 319px) {
    header {
      grid-template-columns: repeat(1, 1fr);
      padding: 0;
      grid-gap: 10px;
    }

    .random-location,
    .go-home {
      font-size: 3vw;
      font-weight: bold;
      margin: 1vw 4vw 6vw 4vw;
      padding: 1%;
      width: 20vw;
      height: 5vw;
      border: 1px solid $inconsolata;
    }
  }
