header {
  display: grid;
  grid-template-rows: 57% 37%;
  align-items: center;
  background-color: $opaque-blue-dark;
  height: 10%;
  border-bottom: 10px solid #2daff585;
  margin-bottom: 3vw;
  padding: 1vw;

  h1 {
    justify-self: center;
    margin: 1% auto auto auto;
    font-size: 5vw;
    font-family: AlienEncounters;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 1.8vw;
    color: $opaque-red;
    text-shadow: 1.5vw 1.3vw rgba(138, 62, 72, 0.099);
  }
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 0;
  width: 99%;
}

.go-home,
.random-location {
  width: 13vw;
  height: 4vw;
  padding: 4px;
  margin: 1vw 3vw 1vw 3vw;
  font-family: $staatliches;
  font-size: 1em;
  letter-spacing: 0.5vw;
  border: 1px solid #ed33b86c;
  color: $max-blue-green;
  background-color: rgba(12, 22, 48, 0.51);

  &:hover {
    border: 1px solid $max-blue-green;
    color: $mid-emphasis-text;
    background-color: $opaque-blue-light;
  }
  }

  /*~~~~~~ Responsive ~~~~~~ */

  @media screen and (max-width: 1025px) {
    header {
      padding: 2vw;
      height: 11vw;
      grid-gap: 15px;
    }

    .random-location,
    .go-home {
      font-size: 1.5vw;
      width: 15vw;
      height: 5vw;
      margin-top: 0;
      margin-bottom: 1vw;
    }
  }

  @media screen and (max-width: 769px) {
    header {
      height: 23vw;
      padding: 1vw;
    }

    header h1 {
      margin-top: 5vw;
      font-size: 6vw;
    }
    
    .random-location,
    .go-home {
      font-size: 2vw;
      width: 23vw;
      height: 7vw;
      margin-bottom: 1em;
    }
  }

  @media screen and (max-width: 426px) {
    header {
      height: 27vw;
    }
    header h1 {
      margin-top: 3vw;
    }
  }

  @media screen and (max-width: 376px) {
    header {
      height: 30vw;
    }

    header h1 {
      margin-top: 6vw;
      font-size: 8vw;
    }

    .random-location,
    .go-home {
      font-size: 1.9vw;
      font-weight: bold;
      margin: 2vw 4vw 2vw 4vw;
      padding: 1%;
      width: 22vw;
      height: 7vw;
      border: 1px solid $inconsolata;
    }
  }
