header {
  display: grid;
  grid-template-rows: 70% 30%;
  align-items: center;
  background-color: salmon;
  height: 15vw;
  border-bottom: 6px solid black;
}

h1 {
  justify-self: center;
  align-self: flex-end;
  color: blue;
  font-size: 6vw;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

button {
  margin: 1vw;
}