.nav-bar {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  height: 20vw;
  margin: 2vw auto 3vw auto;
}

.nav-fields {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 10vw;
  width: 98%;
  padding: 2% 1% 2% 1%;
  color: whitesmoke;
  background-color: $opaque-blue-light;
  box-shadow: $shadow-heavy;
  font-family: $inconsolata;

  select, input {
    font-family: $inconsolata;
  }
}

.location-message {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.welcome-text {
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: 3vw;
  justify-content: center;
  font-family: $staatliches;
  font-style: italic;
  font-size: 2.5vw;
  font-weight: 300;
  color: $max-blue-green;
  text-shadow: 0.2vw 0.3vw rgba(150, 145, 167, 0.425);
}

.location-name {
  text-align: center;
  margin-top: 1vw;
  font-family: AlienEncounters;
  font-style: italic;
  font-size: 4vw;
  font-weight: 500;
  line-height: 1;
  color: $max-blue-green;
  text-shadow: 0.4vw 0.3vw rgba(150, 145, 167, 0.425);
}

/*~~~~~~ Responsive ~~~~~~ */

@media screen and (max-width: 651px) {

  .nav-bar {
    height: 25%;
    margin: 2vw 0 5vw 0;
  }

  .search-form {
    height: 12vw;
    width: 100%;
  }

  .welcome-text {
    margin-top: 5vw;
    font-size: 4vw;
  }

  .location-name {
    font-size: 6vw;
  }

}

