.top-artists-box {
  display: grid;
  grid-template-rows: 10% 90%;
  padding: 1vw 2vw 1vw 4vw;
  width: 45%;
  height: auto;
  color: $mid-emphasis-text;
  background-color: $opaque-blue-dark;
  border: 1px solid $blue-jeans;
  margin-bottom: 1vw;

  h3 {
    align-self: center;
    margin-top: 1vw;
    margin-bottom: 1em;
    font-family: AlienEncounters;
    font-style: italic;
    line-height: 2;
    font-size: 3.1vw;
    font-weight: 500;
    color: $fashion-fuscia;
  }

  li {
    margin: 1vw;
  }
}

.artists-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.top-artist-card {
  width: 40%;
  height: 12vw;
  margin: 1% 4% 0 4%;
  text-align: center;
}

.top-artist-name {
  margin: 3%;
  font-family: $staatliches;
  font-size: 2.25vw;
  font-weight: 500;
  color: rgba(151, 243, 190, 0.904);
  letter-spacing: 0.4vw;
}

.top-artist-image {
  width: 100%;
  height: 80%;
  box-shadow: 0 0 0.2vw 0.2vw rgba(176, 165, 244, 0.832);
  font-size: 2vw;
  background-repeat: no-repeat;
  background-size: cover;
}

/*~~~~~~ RESPONSIVE ~~~~~~ */

@media screen and (max-width: 651px) {

  .top-artist-card {
    font-size: 4vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .top-artists-box {
    display: flex;
    width: 85%;
    margin: 4vw 0 0 0;
    padding-bottom: 4vw;
  }

  .top-artists-box h3 {
    font-size: 5vw;
    margin: 0;
  }

  .artists-list {
    display: flex;
    height: 100vw;
  }

}

@media screen and (max-width: 376px) {

  .top-artist-card {
    font-size: 4vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .top-artists-box {
    display: flex;
    width: 85%;
    margin: 3vw 0 0 0;
    padding-bottom: 4vw;
  }

  .top-artists-box h3 {
    font-size: 5vw;
    margin: 3vw auto 3vw auto;
  }

  .artists-list {
    display: flex;
    height: 100vw;
  }

}
