.top-artists-box {
  display: grid;
  grid-template-rows: 10% 85%;
  padding: 2vw 2vw 1vw 4vw;
  width: 45%;
  height: auto;
  font-size: 1.5vw;
  color: $mid-emphasis-text;
  background-color: $opaque-blue-dark;
  border: 1px solid $blue-jeans;

  h3 {
    align-self: center;
    margin-top: 1.5em;
    margin-bottom: 1em;
    font-family: AlienEncounters;
    font-style: italic;
<<<<<<< HEAD
    //font-size: 2.5vw;
    line-height: 2;
=======
    font-size: 3.1vw;
    font-weight: 200;
>>>>>>> 3d48b7885c97e409452dce4dd92321742439548f
    color: $fashion-fuscia;
  }

  li {
    margin: 1vw;
  }
}

.artists-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-top: 2vw;
  color: $mid-emphasis-text;
<<<<<<< HEAD
  //font-size: 1.5vw;
=======
>>>>>>> 3d48b7885c97e409452dce4dd92321742439548f
  font-family: $inconsolata;
  font-size: 1.5vw;
}

.top-artist-card {
  width: 29%;
  border: 1px solid $beau-blue;
  margin: 1% 1% 1% 1.5%;
  font-size: 1.5vw;
  text-align: center;
}

@media screen and (max-width: 320px) {

  h3 {
    font-size: 3.8vw;
  }

  .top-artists-box,
  {
    display: flex;
    margin-top: 18%;
    width: fit-content;
  }

  .artists-list {
    display: flex;
    height: 100vw;
  }

}
