.top-artists-box {
  display: flex;
  flex-direction: column;
  padding: 2vw;
  height: 100%;
  font-size: 1vw;
  background-color: cornsilk;
  border: 1px dotted black;
}

h3 {
  margin-bottom: 2vw;
}